//Colors
$primaryColor: #F86800;
$color-on-primary: $white;
$primary-transparent: rgba($primaryColor, 0.9);

$secondaryColor: #28D5EC;
$color-on-secondary: $bodytext;

$white: #FFFFFF;
$lightGrey: #F1F1F1;
$bodytext: #000000;

$disabled: #DDDDDD


